
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Callback export</h2>

<div class="panel panel-default panel-shadow panel-addtarget" data-collapsed="0">
    <!-- to apply shadow add class "panel-shadow" -->
    <!-- panel head -->
    <div class="panel-heading">
        <div class="panel-title" style="font-size: 13px;">...</div>
    </div>

    <!-- panel body -->
    <div class="panel-body">

        <div class="col-md-3">
            <div class="form-group">
                <label for="selectCase" class="form-label">Select Case name</label>

                @Html.DropDownList("dropdownhotnumberCase", ViewBag.AllCase as SelectList, new { @class = "form-control" })
            </div>

        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="selectCase" class="form-label">Select intercept</label>

                @Html.DropDownList("dropdownhotnumberIntercept", ViewBag.AllIntercept as SelectList, new { @class = "form-control" })
            </div>

        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label">Select Begin time</label>

                <div class="date-and-time">
                    <input type="text" class="form-control datepicker beginDatePicker" value="@ViewBag.BeginDate" data-format="dd-mm-yyyy" >
                    <input type="text" class="form-control timepicker beginTimePicker" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="false" data-minute-step="1" data-second-step="5">
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label">Select End time</label>

                <div class="date-and-time">
                    <input type="text" class="form-control datepicker endDatePicker" value="@ViewBag.EndDate" data-format="dd-mm-yyyy">
                    <input type="text" class="form-control timepicker endTimePicker" data-template="dropdown" data-show-seconds="false" data-default-time="11:25 AM" data-show-meridian="false" data-minute-step="1" data-second-step="5">
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <button type="button" id="btnManualAdd" class="btn btn-green btn-icon">
                    Export
                    <i class="entypo-check"></i>
                </button>
            </div>
        </div>

    </div>

</div>
<p style=" font-size: 14px; font-weight: 600;" class="color-green callback_add_success hide">Successfully sent request to listener!!! Check export results after few seconds</p>
<p style=" font-size: 14px; font-weight: 600;" class="color-red callback_add_fail hide">Failed!Cannot send request to listener</p>

<p>@ViewBag.Hub</p>
<script>
    $(document).ready(function () {

        $('#btnManualAdd').click(function () {


            var beginDate = $('.beginDatePicker').val();
            var beginTime = $('.beginTimePicker').val();
            var beginValue = beginDate + " " + beginTime;

            var endDate = $('.endDatePicker').val();
            var endTime = $('.endTimePicker').val();
            var endValue = endDate + " " + endTime;
            console.log(beginValue);
            console.log(endValue);

            var casename = $('#dropdownhotnumberCase').find("option:selected").text();
            var interceptname = $('#dropdownhotnumberIntercept').find("option:selected").text();
            var interceptid = $('#dropdownhotnumberIntercept').find("option:selected").val();
            $.ajax({
                type: "GET",
                url: '/Manual/ExportByTime',
                dataType: "json",
                data: { casename: casename, interceptname: interceptname, interceptid: interceptid, beginValue: beginValue, endValue : endValue },
                contentType: "application/json; charset=utf-8",
                success: function (connObjReturn) {
                    console.log(connObjReturn);
                    if (connObjReturn == true) {
                        
                        $('.callback_add_success').removeClass('hide');
                        setTimeout(function () {
                            $('.callback_add_success').addClass('hide');
                        }, 3000);

                    }
                    else {
                        $('.callback_add_fail').removeClass('hide');
                        setTimeout(function () {
                            $('.callback_add_fail').addClass('hide');
                        }, 3000);
                    }
                    
                },
                error: function () {
                    $('.callback_add_fail').removeClass('hide');
                    setTimeout(function () {
                        $('.callback_add_fail').addClass('hide');
                    }, 3000);
                }
            });

        });
    });
</script>